.root {
  label {
    display: block;
    font-weight: bold;
  }

  input {
    border: 3px solid #000;
    border-radius: 8px;
    display: block;
    padding: 8px;
    width: 100%;
  }

  button {
    background-color: #000;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;

    &:hover {
      background-color: #333;
    }
  }
}
